<div class="popular_post">
    <div class="sidebar_title"><h2>&nbsp;Gazeteler</h2></div>
    <ul>
        <li><a href="http://www.milliyet.com.tr/">Miliyet</a></li>
        <li><a href="">Hürriyet</a></li>
        <li><a href="">Cumhuriyet</a></li>
        <li><a href="">Sözcü</a></li>
        <li><a href="">Important links of this site</a></li>
        <li><a href="">Important links of this site</a></li>
    </ul>
    </div>
